{% extends 'base.html' %}


{% block  content %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <strong>Follow</strong> Form
            </div>
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col col-md-12">
                        <div class="input-group">
                            <input type="username" id="input2-group2" name="username" placeholder="Username"
                                   class="form-control">
                            <div class="input-group-btn">
                                <button class="btn btn-primary">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}